.list_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3vw 0;
    padding: 0 20px 0 70px;
}
.list_items .slider {
    display: flex;
    flex-wrap: nowrap;
}
.list_items ul li.item {
    margin-right: 8px;
    position: relative;
    width: 18rem;
    height: 10rem;
    transition: all .4s;
}

