.list_items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3vw 0;
    padding: 0 20px 0 70px;
}
.list_items .slider {
    display: flex;
    flex-wrap: nowrap;
}
.list_items .info_data {
    position: absolute;
    right: 3rem;
    font-size: .9rem;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
}
.list_items .info_data sve {
    width: 20px;
    margin-right: 7px;
}
.list_items ul li.item {
    margin-right: 8px;
    position: relative;
    width: 18rem;
    height: 10rem;
    transition: all .4s;
    transition-delay: 0s;
}
.list_items.top ul li.item::after {
    display: block;
    content: attr(data-num);
    font-size: 12rem;
    position: absolute;
    left: -92px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .4s .4s;
    z-index: -1;
  }
.list_items ul li.item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.4);
    z-index: 2;
    transition-delay: .4s;
}
.list_items.top ul li.item:hover::after {
    opacity: 0;
}
.list_items.top .item {
    display: flex;
    width: 10rem;
    height: 15rem;
    margin-left: 5rem !important;
}
.list_items.top .item:not(:first-child) {
    margin-left: 2rem;
}
.list_items.top .item_content .container_image {
    height: 15rem;
}